body {
  background-color: #111827;
  width: fit-content;
  color: white;
  text-align: center;
  font-family: sans-serif;
}
.container {
  width: 90%;
  display: flex;
  justify-content: center;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}
.box-one {
  border: 1px solid #0e121cfc;
  width: 400px;
  height: 55vh;
  background-color: #0e121cfc;
  border-radius: 2px;
}
span {
  color: #008000a5;
}
button {
  width: 70%;
  height: 10%;
  background-color: #04aa0473;
  color: white;
  border: 1px solid #04aa0473;
  border-radius: 4px;
  margin-bottom: 2%;
}
hr {
  width: 90%;
  border: 1px solid black;
}
p {
  font-size: 1.5rem;
  line-height: 1.5;
}
h3 {
  font-size: 1.2rem;
}
.box-two {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 40vh;
  margin: 5% 5%;
}
.password {
  border: 1px solid  #04aa0473 ;
  width: 70%;
  height: 5vh;
  border-radius: 4px;
  margin: 0% 2% 2% 2%;
}
@media (max-width: 400px) {
  .container {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .box-one {
    width: 400px;
    margin: 0;
  }
}
@media (max-width: 530px) {
  .container {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .box-one {
    width: 500px;
    margin: 0;
  }
}
@media (max-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
  }
  .box-one {
    width: 500px;
    margin: 0;
  }
}
@media (min-width: 701px) {
  .container {
    margin-left: 40%;
    margin-right: 40%;
    width: 65%;
  }
  .box-one {
    width: 70vw;
    margin: 0;
  }
}
